<div class="registerView">
  <div class="registerView__content">
    <div class="registerView__content__contentTitles">
      <h1 class="registerView__content__contentTitles__title">
        Bienvenido a <span class="titleHERP">HERP</span>
      </h1>
      <h2 class="registerView__content__contentTitles__subtitle">
        Por aqui puedes empezar
      </h2>
    </div>

    <div class="registerView__content__formContent">
      <form
        (submit)="registrar()"
        [formGroup]="formRegistro"
        class="registerView__content__formContent__form"
      >
        <div class="registerView__content__formContent__form__nombreContent">
          <label>Nombre</label>
          <input formControlName="nombre" type="text" name="nombre" />
        </div>
        <div class="registerView__content__formContent__form__emailContent">
          <label>email</label>
          <input formControlName="email" type="email" name="email" />
        </div>
        <div
          class="registerView__content__formContent__form__contraseñaContent"
        >
          <label>Contraseña</label>
          <input
            formControlName="contrasena"
            type="password"
            name="contrasena"
          />
        </div>
        <div
          class="registerView__content__formContent__form__confirmarContraseñaContent"
        >
          <label>Confirmar Contraseña</label>
          <input
            formControlName="confirmarContrasena"
            type="password"
            name="confirmarContrasena"
          />
        </div>

        <div class="registerView__content__formContent__form__accesoContent">
          <button type="submit" class="btn-primary">Registrar</button>
        </div>
      </form>
      <p>¿Ya tienes cuenta?</p>
      <a [routerLink]="['/auth/login']"> Ingresa aquí</a>
    </div>
  </div>
</div>
