<div class="registerView">
  <div class="registerView__content">
    <div class="registerView__content__contentTitles">
      <h1 class="registerView__content__contentTitles__title">
        Bienvenido a HERP
      </h1>
      <h2 class="registerView__content__contentTitles__subtitle">
        Por aqui puedes empezar
      </h2>
    </div>

    <div class="registerView__content__formContent">
      <form
        (submit)="registrar()"
        [formGroup]="formRegistro"
        class="registerView__content__formContent__form"
      >
        <div>
          <label>Nombre</label>
          <input formControlName="nombre" type="text" name="nombre" />
        </div>
        <div>
          <label>email</label>
          <input formControlName="email" type="email" name="email" />
        </div>
        <div>
          <label>Contraseña</label>
          <input
            formControlName="contrasena"
            type="password"
            name="contrasena"
          />
        </div>
        <div>
          <label>Confirmar Contraseña</label>
          <input
            formControlName="confirmarContrasena"
            type="password"
            name="confirmarContrasena"
          />
        </div>

        <div>
          <button type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
