<main>
  <div class="navbar">
    <div class="navbar__logoContent">
      <img src="" alt="logo_corporativo" class="navbar__logoContent__logo" />
    </div>
    <div class="navbar__menuContent">
      <ul class="navbar__menuContent__listaContent">
        <li class="navbar__menuContent__listaContent__opcion">
          <a href="" class="navbar__menuContent__listaContent__opcion__url"
            >Incio</a
          >
        </li>
        <li class="navbar__menuContent__listaContent__opcion">
          <a href="" class="navbar__menuContent__listaContent__opcion__url"
            >Comercial</a
          >
        </li>
        <li class="navbar__menuContent__listaContent__opcion">
          <a href="" class="navbar__menuContent__listaContent__opcion__url"
            >Financiero</a
          >
        </li>
        <li class="navbar__menuContent__listaContent__opcion">
          <a href="" class="navbar__menuContent__listaContent__opcion__url"
            >POS</a
          >
        </li>
        <li class="navbar__menuContent__listaContent__opcion">
          <a href="" class="navbar__menuContent__listaContent__opcion__url"
            >Nomina</a
          >
        </li>
      </ul>
    </div>
    <div class="navbar__logoutContent">
      <button class="navbar__logoutContent__logoutBtn">logout</button>
    </div>
  </div>
</main>
