<main>
  <div class="navbar">
    <div class="navbar__logoContent">
      <a [routerLink]="['/']">
        <img
          src="../../../images/logo.png"
          alt="logo_corporativo"
          class="navbar__logoContent__logo"
        />
      </a>
    </div>
    <div class="navbar__menuContent">
      <ul class="navbar__menuContent__listaContent">
        @for (submodulo of submodulos; let index = $index; track index) {
        <li class="navbar__menuContent__listaContent__opcion">
          <a
            [routerLink]="[submodulo.url]"
            class="navbar__menuContent__listaContent__opcion__url"
            >{{ submodulo.title }}</a
          >
        </li>
        }
      </ul>
    </div>
    <div class="navbar__logoutContent">
      <fa-icon
        [icon]="faRightFromBracket"
        class="navbar__logoutContent__icon"
      />
    </div>
  </div>
</main>
