<div>
  <app-layout-page>
    <div titulo>
      <h2>Gestión de Sucursales</h2>
    </div>
    <div filtros>
      <div>
        <app-filtro
          [companias]="companias"
          [sucursales]="sucursales"
          (seleccionarCompania)="selccionarCompania($event)"
          (seleccionarSucursal)="selccionarSucursal($event)"
        />
      </div>
    </div>
    <div tabla>
      <div>
        <app-tabla [headers]="headers" [data]="data" />
      </div>
    </div>
  </app-layout-page>
</div>
