<div>
  <app-layout-page>
    <div titulo>
      <h2>Gestión de Sucursales</h2>
    </div>
    <div filtros>
      <div>
        <app-filtro
          [companias]="companias"
          [sucursales]="sucursales"
          (seleccionarCompania)="seleccionarCompania($event)"
          (seleccionarSucursal)="seleccionarSucursal($event)"
        />
      </div>
    </div>
    <div tabla>
      <div>
        <app-tabla [headers]="headers" [data]="data">
          <ng-template #idTemplate let-item>
            <div>{{ item.id }}</div>
          </ng-template>

          <ng-template #nombreTemplate let-item>
            <div>{{ item.nombre }}</div>
          </ng-template>

          <ng-template #pruebaTemplate let-item>
            <div>
              {{item.prueba}}
            </div>
          </ng-template>
        </app-tabla>
      </div>
    </div>
  </app-layout-page>
</div>
