.loginView {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98.3vh;

  &__content {
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    gap: $spacer;
    box-shadow: $box-shadow-lg;
    border-radius: 10px;
    min-width: 50%;

    &__contentTitles {
      display: flex;
      flex-direction: column;
      gap: $spacer-half;
      &__title {
        color: $primary-color;
        font-size: 50px;
      }

      &__subtitle {
        color: $text-color;
        font-size: 30px;
      }
    }

    &__formContent {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacer;

      &__form {
        display: flex;
        flex-direction: column;
        gap: $spacer;
        min-width: 40%;

        &__correoContent {
          display: flex;
          flex-direction: column;
          gap: $spacer-half;
        }

        &__contraseñaContent {
          display: flex;
          flex-direction: column;
          gap: $spacer-half;
        }

        &__accesoContent {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
