<div class="loginView">
  <div class="loginView__content">
    <div class="loginView__content__contentTitles">
      <h1 class="loginView__content__contentTitles__title">HERP</h1>
      <h3 class="loginView__content__contentTitles__subtitle">
        EL ERP que tu negocio necesita
      </h3>
    </div>

    <div class="loginView__content__formContent">
      <form
        [formGroup]="formLogin"
        (submit)="ingresar()"
        class="loginView__content__formContent__form"
      >
        <div class="loginView__content__formContent__form__correoContent">
          <label>Correo</label>
          <input type="email" formControlName="email" placeholder="email" />
        </div>
        <div class="loginView__content__formContent__form__contraseñaContent">
          <label>Contraseña</label>
          <input
            type="password"
            formControlName="contrasena"
            placeholder="password"
          />
        </div>
        <div class="loginView__content__formContent__form__accesoContent">
          <button type="submit" class="btn-info">Iniciar Sesion</button>
        </div>
      </form>
      <p>
        <span>¿No tienes cuenta?</span>
        <span>
          <a [routerLink]="['/auth/register']"> Registrate </a>
        </span>
      </p>
      <p>
        <a [routerLink]="['/auth/recuperar-contrasena']"
          >Olvidé mi contraseña</a
        >
      </p>
    </div>
  </div>
</div>
