<div>
  <table>
    <thead>
      <tr>
        @for (header of headers; track header.key) {
        <th>{{ header.titulo }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of data; track item.id) {
      <tr>
        @for (header of headers; track header.key) {
        @if(getTemplate(header.key)) {
        <td>
          <ng-container
            *ngTemplateOutlet="
              getTemplate(header.key);
              context: { $implicit: item }
            "
          ></ng-container>
        </td>
        } @else {
        <td>{{ item[header.key] }}</td>
        } }
      </tr>
      }
    </tbody>
  </table>
</div>
