<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        @for(header of headers; track header) {
        <ng-container>
          <th>
            <ng-container
              *ngTemplateOutlet="
                getHeaderTemplate(header.key) || defaultHeaderTemplate;
                context: { $implicit: header }
              "
            ></ng-container>
          </th>
        </ng-container>
        }
      </tr>
    </thead>
    <tbody>
      @for(row of data; track row) {


      <ng-container>
        <tr>
          @for(header of headers; track header) {
          <ng-container>
            <td>
              <ng-container
                *ngTemplateOutlet="
                  getCellTemplate(header.key) || defaultCellTemplate;
                  context: { $implicit: row[header.key], row: row, header: header }
                "
              ></ng-container>
            </td>
          </ng-container>
        }
        </tr>
      </ng-container>
      }
    </tbody>
  </table>
</div>

<ng-template #defaultHeaderTemplate let-header>
  {{ header.titulo }}
</ng-template>

<ng-template #defaultCellTemplate let-cell>
  {{ cell }}
</ng-template>
